<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% embed "::base.html.twig" %}
    {% block body %}
    {% endblock %}
{% endembed %}

<div class="container">



    <div id="articles">


        {% if    tag  == null %}
            <h1> Voici la liste des articles </h1>
        {% for article in articles %}

        <div id="background">
            <h2><b>Titre de l'article :</b> {{ article.title }}
            <a href="{{ path('show',{ 'id' : article.id }) }}"><div class="placement-btn"><button class="btn btn-primary">Voir l'article</button></div></a>
            <h3><b>Date de création :</b> {{ article.createdAt|date('d-m-Y')  }}</h3>
            <h3><b>Tag  :</b> <a href="{{ path('liste',{ 'tag' : article.tag }) }}">{{ article.tag }}</a></h3>
        </div>

        {% else %}
            <h2>Pas d'articles trouvé.</h2>
        {%  endfor %}
        {% else %}

            <h1> Voici la liste des articles avec le Tag : {{ tag }} </h1>

        {% for article in articles %}

        {% if  article.tag  ==  tag   %}

        <div id="background">
            <h2><b>Titre de l'article :</b> {{ article.title }}
            <a href="{{ path('show',{ 'id' : article.id }) }}"><div class="placement-btn"><button class="btn btn-primary">Voir l'article</button></div></a>
            <h3><b>Date de création :</b> {{ article.createdAt|date('d-m-Y')  }}</h3>
            <h3><b>Tag  :</b> <a href="{{ path('liste',{ 'tag' : article.tag }) }}">{{ article.tag }}</a></h3>
        </div>
         {% endif %}
         {% else %}

             <h2>Pas d'articles trouvé.</h2>

         {%  endfor %}
         {% endif %}

    </div>
</div>
