<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% embed "::base.html.twig" %}
    {% block body %}
    {% endblock %}
{% endembed %}

<div class="container">

    <h1>- Bienvenue sur la page d'accueil -</h1>


    <div id="articles">



            {% for article in articles %}

            <div id="background">
                <h2><b>Titre de l'article :</b> {{ article.title }}
                <a href="{{ path('show',{ 'id' : article.id }) }}"><div class="placement-btn"><button class="btn btn-primary">Voir l'article</button></div></a>
                <h3><b>Date de création :</b> {{ article.createdAt|date('d-m-Y')  }}</h3>
                <h3><b>Tag  :</b> <a href="{{ path('liste',{ 'tag' : article.tag }) }}">{{ article.tag }}</a></h3>
            </div>

            {% else %}
                <h2>Pas d'articles trouvé.</h2>
            {%  endfor %}

    </div>

</div>