<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% embed "::base.html.twig" %}
    {% block body %}
    {% endblock %}
{% endembed %}

<h2>Ajouter un article</h2>

{{ form_start(form) }}
{{  form_errors(form) }}




{{ form_end(form) }}