<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% embed "::base.html.twig" %}
    {% block body %}
    {% endblock %}
{% endembed %}

<div class="container show">
    <article>
        <h1 class="text-center"> {{ article.title }}</h1><br>
        <p><label>Tag de l'article : </label> <a href="{{ path('liste',{ 'tag' : article.tag }) }}">{{ article.tag }}</a></p>
        <p><label>Contenu de l'article : </label></p><br>
        <p class="placement-contenu">{{ article.content }}</p>
        <p class="alignement-droite"><label>Auteur :</label> {{ article.author }}</p>
        <p class="alignement-droite"><label>Le :</label> {{ article.createdAt|date('d-m-Y')  }}</p><br>
    </article>
</div>